<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.vi1zen.vupdateapp_library">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <provider
            android:name="cn.vi1zen.vupdateapp_library.utils.AppUpdateFileProvider"
            android:authorities="${applicationId}.updateFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_update_provider_paths" />
        </provider>
    </application>
</manifest>